VITE_DISCORD_USER_ID=1222660230572277862
VITE_DISCORD_BANNER_URL=
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_APPLICATION_ID=1481483226882117745
DISCORD_GUILD_ID=1356477545964372048
DISCORD_OWNER_USER_ID=1222660230572277862
PUBLIC_SITE_URL=https://lurkedaccounts.site
ALLOWED_ORIGIN=https://lurkedaccounts.site
PORT=3001
